<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5bdc9b-015f-4abd-983e-e52f156a9a8e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-09-10T17:17:28</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7105d8c6-f226-44fd-88bd-b087b633703f">home</Template>
  </Info>
  <Properties>
    <slogan>
      <Value><![CDATA[<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="text-align: center;"><span style="font-size: 18pt; color: #993300; font-family: 'andale mono', monospace;"><strong><img src="?width=500&amp;height=467.0525378450579" alt="" width="500" height="467.0525378450579" data-udi="umb://media/8dd21f4ddd9d46fea0e56f2d6991094b" /></strong></span></p>
<p style="text-align: center;"><span style="font-size: 18pt; color: #993300; font-family: 'andale mono', monospace;"><strong>Welcome to Romanian Roadie!</strong></span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace;">coming soon</span></p>
</body>
</html>]]></Value>
    </slogan>
  </Properties>
</Content>