<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d4c2248-6b89-4da6-a054-a0214d3bb8de" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5c5f28de-eb21-42af-ac42-f7a0f906575a">homeControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7105d8c6-f226-44fd-88bd-b087b633703f">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>