<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dd21f4d-dd9d-46fe-a0e5-6f2d6991094b" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-10T17:30:30</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
    <FileHash>2101982092224220441792281054122022148172109</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jmpnfdm3/logo.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>